.section-atol .base-setting-open, .section-atol .pagi, .section-atol .table-pagination, .section-atol h4{
	margin: 10px;
}  
.section-atol .base-settings{
	padding: 15px;
	background: #fffce5;
}
.section-atol .moreInfo,
.section-atol .refund{
	cursor: pointer;
}
.section-atol [colspan="6"]{
	text-align: center;
}
.section-atol td:last-child {
    max-width: 500px;
}
.section-atol #clearPayment {
    float: right;
    cursor: pointer;
}