.section-komtet-kassa .base-setting-open, .section-komtet-kassa h4{
	margin: 10px;
}

.section-komtet-kassa .base-settings-open{
	padding: 15px;
	background: #fffce5;
}

.section-komtet-kassa [colspan="6"]{
	text-align: center;
}

.section-komtet-kassa td:last-child {
    max-width: 500px;
}

.mg-admin-html .sett-line:hover input + label:not(.input-group-label), .mg-admin-html .sett-line:hover select {
    box-shadow: unset !important
}
